{% extends 'consent/base.html' %} {% block title %} SLU Health Online Consent Portal{% endblock %} {% block content %}
{% if perms.consent %}
<div>
    <div class="page-header">
        <h1>Create a new form</h1>
    </div>
    <div style="display: inline-block;">
        <a style="padding: 15px 25px; margin-right:10px;" class="btn btn-primary"
        href="{% url 'new_consent_form' institution.identifier %}" role="button">Create a new consent</a>
{% if perms.consent.add_operation %}
        <a style="padding: 15px 25px; margin-left:10px;" class="btn btn-primary"
        href="{% url 'new_operation' %}" role="button">Create a new operation</a>
{% endif %}
    </div>
</div>

<div class="page-header">
    <h1>Your recently created consent forms</h1>
</div>
<ul class="list-group">
{% for form in consent_forms %}
    <li class="list-group-item"><a href="{% url 'view_consent_form' institution.identifier form.identifier %}">
    {{ form.today_date }} :: {{ form.patient_name }}</a></li>
{% endfor %}
</ul>

{% if perms.consent.view_operation %}
<div class="page-header">
    <h1>Registered Operations</h1>
</div>
<ul class="list-group">
{% for op in operations %}
    <li class="list-group-item"><a href="{% url 'view_operation' op.id %}">{{ op }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% else %}

<div>
    <div class="page-header">
        <h1>Unverified account</h1>
    </div>
    <div>
        <p>Your account is not verified, and thus you do not have access to consent forms.
            Please check your email, {{ user.email }}, for a link to use to verify your affiliation.
        </p>
    </div>
</div>

{% endif %}

{% endblock %}