{% extends 'consent/base.html' %} {% load bootstrap3 %}
{% block title %}New Consent{% endblock %} {% block content %}
<form method="post" enctype="multipart/form-data" class="input-group">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p id="date"></p>
    <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date").innerHTML = "Today's date: " + m + "/" + d + "/" + y;
    </script>
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
{% endblock %}
