{% extends 'consent/base.html' %} {% block title %}View Patient Consent Form{% endblock %} {% block content %}

<div class="page-header">
    <h1>Patient: {{ consent.patient_name }} (DOB {{ consent.patient_dob}}) #{{ consent.patient_mrn }}</h1>
    <p>Form date: {{ consent.today_date }}</p>
    <P>{{ request.build_absolute_uri }}</P>
</div>
<div>
    <h3>Procedure: {{ consent.procedure }}</h3> 
    <h3>Diagnosis: {{ consent.diagnosis }}</h3> 
    <h3>Risks/benefits: {{ consent.risk_ben_alt }}</h3> 
    <h3>Anesthesia: {{ consent.anesthsia_type }}</h3> 
</div>

<div>
    <div class="page-header">
        <h2>Signatures</h2>
    </div>
    <div>
        <h3>Patient</h3>
        {% if consent.patient_signature and consent.patient_signature != '' %}

        {% if consent.inability_reason and consent.inability_reason != '' %}
        Patient was unable to consent. Reason: {{ consent.inability_reason }}. Signed by physician.
        {% elif consent.representative_name and consent.representative_name != '' %}
        Signed by {{ consent.representative_name }}. Relationship: {{ consent.relationship_to_patient }}.
        {% else %}
        Signed by patient.
        {% endif %}

        {% if 'image' in patient %}
        <img src="{% url 'view_signature_file' consent.id 'patient' %}" width="100%" height="500px">
        {% elif 'video' in patient %}
        <video src="{% url 'view_signature_file' consent.id 'patient' %}" width="100%" height="500px" controls></video>
        {% endif %}

        {% else %}
        <a class="btn btn-primary" href="{% url 'view_signature' consent.id 'patient' %}" role="button">Add Signature</a>
        {% endif %}
    </div>
    <div>
        <h3>Physician</h3>
        {% if consent.physician_signature and consent.physician_signature != '' %}
        Signed by {{ consent.consenting_physician.first_name }} {{ consent.consenting_physician.last_name }}.

        {% if 'image' in physician %}
        <img src="{% url 'view_signature_file' consent.id 'physician' %}" width="100%" height="500px">
        {% elif 'video' in physician %}
        <video src="{% url 'view_signature_file' consent.id 'physician' %}" width="100%" height="500px" controls></video>
        {% endif %}

        {% else %}
        <a class="btn btn-primary" href="{% url 'view_signature' consent.id 'physician' %}" role="button">Add Signature</a>
        {% endif %}
    </div>
    <div>
        <h3>Witness</h3>
        {% if consent.witness_signature and consent.witness_signature != '' %}
        Signed by {{ consent.witness_name.first_name }} {{ consent.witness_name.last_name }}.

        {% if 'image' in witness %}
        <img src="{% url 'view_signature_file' consent.id 'witness' %}" width="100%" height="500px">
        {% elif 'video' in witness %}
        <video src="{% url 'view_signature_file' consent.id 'witness' %}" width="100%" height="500px" controls></video>
        {% endif %}

        {% else %}
        <a class="btn btn-primary" href="{% url 'view_signature' consent.id 'witness' %}" role="button">Add Signature</a>
        {% endif %}
    </div>
</div>

{% comment %}
<video src="{% url 'view_consent_video' consent.id %}" width="100%" height="500px" controls></video>

<h2>Nurse Signature</h2>
{% if consent.nurse_signature %}
<p>Signed by {{ consent.nurse.first_name }} {{ consent.nurse.last_name }}</p>
{% elif is_nurse %}
<form action="{% url 'nurse_sign' consent.id %}" method="post" class="input-group">
    {% csrf_token %}
    <input type="submit" value="Sign as {{ user.first_name }} {{ user.last_name }}">
</form>
{% else %}
<p>Awaiting {{ consent.nurse.first_name }} {{ consent.nurse.last_name }}'s signature</p>
{% endif %}
<h2>Physician Signature</h2>
{% if consent.physician_signature %}
<p>Signed by {{ consent.physician.first_name }} {{ consent.physician.last_name }}</p>
{% elif is_doctor %}
<form action="{% url 'physician_sign' consent.id %}" method="post" class="input-group">
    {% csrf_token %}
    <input type="submit" value="Sign as {{ user.first_name }} {{ user.last_name }}">
</form>
{% else %}
<p>Awaiting {{ consent.physician.first_name }} {{ consent.physician.last_name }}'s signature</p>
{% endif %}
{% endcomment %}


{% endblock %}%