{% extends 'consent/base.html' %} {% block title %}View Patient Consent Form{% endblock %} {% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="page-header">
    <h1>Patient: {{ consent.patient_name }} (DOB {{ consent.patient_dob}}) #{{ consent.patient_mrn }}</h1>
    <p>Form date: {{ consent.today_date }} ({{ TIME_ZONE }})</p>
    <P>{{ request.build_absolute_uri }}</P>
</div>
<div>
    <h3>Procedure: {{ consent.procedure }}</h3> 
    <h3>Diagnosis: {{ consent.diagnosis }}</h3> 
    <h3>Risks/benefits: {{ consent.risk_ben_alt }}</h3>
    {% if consent.anesthesia_type == 1 %}
        <h3>Anesthesia: General Anesthesia </h3>
    {% elif consent.anesthesia_type == 2 %}
        <h3>Anesthesia: Local Anesthesia </h3>
    {% elif consent.anesthesia_type == 3 %}
        <h3>Anesthesia: Sedation </h3>
    {% elif consent.anesthesia_type == 4 %}
        <h3>Anesthesia: No Anesthesia </h3>
    {% endif %}
    {% if not consent.has_any_signature %}
    <a class="btn btn-primary" href="{% url 'edit_consent_form' consent.id %}" role="button">Edit This Form</a>
    {% endif %}
</div>
<div>
    <div class="page-header">
        <h2>Signatures</h2>
    </div>
    <div>
        {% if consent.has_inability_reason %}
        Patient was unable to consent. Reason: {{ consent.inability_reason }}.
        {% elif consent.has_relative %}
        <h3>Patient Representative</h3>
        {% else %}
        <h3>Patient</h3>
        {% endif %}


        {% if consent.has_patient_signature %}

        {% if consent.has_relative %}
        Signed by {{ consent.representative_name }}. Relationship: {{ consent.relationship_to_patient }}.
        {% else %}
        Signed by patient.
        {% endif %}

        {% if 'image' in consent.patient_signature_file_mime %}
        <img src="{{ MEDIA_URL }}{{ consent.patient_signature }}" width="100%" height="500px">
        {% elif 'video' in consent.patient_signature_file_mime %}
        <video src="{{ MEDIA_URL }}{{ consent.patient_signature }}" width="100%" height="500px" controls></video>
        {% endif %}

        {% elif not consent.has_inability_reason %}
        <a class="btn btn-primary" href="{% url 'view_signature' consent.id 'patient' %}" role="button">Add Signature</a>
        {% endif %}
    </div>
    <div>
        <h3>Physician</h3>
        {% if consent.has_physician_signature %}
        Signed by {{ consent.consenting_physician.first_name }} {{ consent.consenting_physician.last_name }}.

        {% if 'image' in consent.physician_signature_file_mime %}
        <img src="{{ MEDIA_URL }}{{ consent.physician_signature }}" width="100%" height="500px">
        {% elif 'video' in consent.physician_signature_file_mime %}
        <video src="{{ MEDIA_URL }}{{ consent.physician_signature }}" width="100%" height="500px" controls></video>
        {% endif %}

        {% else %}
        <a class="btn btn-primary" href="{% url 'view_signature' consent.id 'physician' %}" role="button">Add Signature</a>
        {% endif %}
    </div>
    <div>
        <h3>Witness</h3>
        {% if consent.has_witness_signature %}
        Signed by {{ consent.witness_name.first_name }} {{ consent.witness_name.last_name }}.

        {% if 'image' in consent.witness_signature_file_mime %}
        <img src="{{ MEDIA_URL }}{{ consent.witness_signature }}" width="100%" height="500px">
        {% elif 'video' in consent.witness_signature_file_mime %}
        <video src="{{ MEDIA_URL }}{{ consent.witness_signature }}" width="100%" height="500px" controls></video>
        {% endif %}

        {% else %}
        <a class="btn btn-primary" href="{% url 'view_signature' consent.id 'witness' %}" role="button">Add Signature</a>
        {% endif %}
    </div>
</div>
{% endblock %}%