.asteriskField {
    display: none !important;
}

.consent-form-field {
    padding-top: 1em;
    padding-bottom: 1em;
}

#unable_to_consent_section {
    width: 100%;
}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
  }

  form button {
    width: 100%;
    margin-top: 1em;
  }
}